---
import AstroIcon from "@/components/icons/AstroI.astro";
import SpringBootIcon from "@/components/icons/SpringBoot.astro";
import DjangoIcon from "@/components/icons/Django.astro";
import ExpressIcon from "@/components/icons/Express.astro";
import NextIcon from "@/components/icons/NextJS.astro";
import NodeIcon from "@/components/icons/Node.astro";
---

<section id="technologies" class="py-16">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl text-gray-800 dark:text-white font-bold mb-10">
      Tecnologías que utilizo
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-12">
      <!-- Next -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl"
      >
        <NextIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Next.js</p>
      </div>
      <!-- Astro -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl"
      >
        <AstroIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Astro.js</p>
      </div>
      <!-- Node -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl"
      >
        <NodeIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Node.js</p>
      </div>
      <!-- Spring Boot -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl"
      >
        <SpringBootIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Spring Boot</p>
      </div>
      <!-- Django -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2l"
      >
        <DjangoIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Django</p>
      </div>
      <!-- Express.js -->
      <div
        class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl"
      >
        <ExpressIcon
          class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6"
        />
        <p class="text-gray-800 dark:text-white mt-4">Express.js</p>
      </div>
    </div>
  </div>
</section>
