---
import PremiereProIcon from "@/components/icons/PremierePro.astro"
import AfterEffectsIcon from "@/components/icons/AfterEffects.astro"
import DaVinciResolveIcon from "@/components/icons/DaVinciResolve.astro"
import FinalCutProIcon from "@/components/icons/FinalCutPro.astro"
import VideoCameraIcon from "@/components/icons/VideoCamera.astro" 
---

<section id="video-editing" class="py-16">
  <div class="max-w-6xl mx-auto">
    <div class="flex items-center mb-8">
      <!-- Icono de video -->
      <VideoCameraIcon class="w-8 h-8 text-gray-800 dark:text-white mr-4" />
      <h2 class="text-3xl text-gray-800 dark:text-white font-bold">Edición de Videos y Herramientas</h2>
    </div>
    <p class="text-xl text-gray-600 dark:text-gray-300 mb-8">
      Además de mi trabajo como desarrollador, también me dedico a la edición de videos. Utilizo una variedad de herramientas profesionales para crear contenido visual de alta calidad.
    </p>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-12">
      <!-- Premiere Pro -->
      <div class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl">
        <PremiereProIcon class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6" />
        <p class="text-gray-800 dark:text-white mt-4 text-center">Premiere Pro</p>
      </div>
      <!-- After Effects -->
      <div class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl">
        <AfterEffectsIcon class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6" />
        <p class="text-gray-800 dark:text-white mt-4 text-center">After Effects</p>
      </div>
      <!-- Da Vinci Resolve -->
      <div class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl">
        <DaVinciResolveIcon class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6" />
        <p class="text-gray-800 dark:text-white mt-4 text-center">Da Vinci Resolve</p>
      </div>
      <!-- Final Cut Pro -->
      <div class="tech-icon-container transform transition-all hover:scale-110 hover:rotate-6 hover:shadow-2xl">
        <FinalCutProIcon class="tech-icon w-32 h-32 mx-auto transition-all transform hover:scale-125 hover:rotate-6" />
        <p class="text-gray-800 dark:text-white mt-4 text-center">Final Cut Pro</p>
      </div>
    </div>
  </div>
</section>
